<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <link rel="shortcut icon" href="favicon/favicon.ico" />
  <link rel="stylesheet" href="css/style.bundle.css" />

  <title><%=title%></title>
</head>

<body>
  <header>
    <nav>
      <a href="">Portfolio</a>
      <a href="">About</a>
      <a href="">Blog</a>
      <a href="">Get in touch</a>
      
    </nav>
  </header>