<% var data = {
  title: "Custom Select Box",
  author: "Nastya"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>



<main>
  <section class = "pictures">
      <div class = "am">
        <img src="/src/img/1.jpg" alt="">
      </div>

      <div>
        <img src="/src/img/2.jpg" alt="">
      </div>

      <div>
        <img src="/src/img/3.jpg" alt="">
      </div>

      <div>
        <img src="/src/img/4.jpg" alt="">
      </div>

      <div>
        <img src="/src/img/5.jpg" alt="">
      </div>

      <div>
        <img src="/src/img/6.jpg" alt="">
      </div>

      <div>
        <img src="/src/img/7.jpg" alt="">
      </div>

      <div>
        <img src="/src/img/8.jpg" alt="">
      </div>

      <div>
        <img src="/src/img/9.jpg" alt="">
      </div>

      <div>
        <img src="/src/img/10.jpg" alt="">
      </div>

      <div>
        <img src="/src/img/11.jpg" alt="">
      </div>

      <div>
        <img src="/src/img/12.jpg" alt="">
      </div>

      <div>
        <img src="/src/img/13.jpg" alt="">
      </div>
  </section>

  <section class="about">
    <img src="/src/img/Image.jpg" alt="">
    <div>
      <h1>Smith Anderson</h1>
      <h2>Illustrator & Character Designer</h2>
      <p class="Lorem_ipsum">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porttitor, nibh at sagittis tristique, enim magna pretium augue, eget consectetur sem dui non urna. Integer gravida, diam congue molestie fringilla, elit odio rhoncus turpis, ac dictum libero elit vel metus. Morbi egestas sit amet velit eget venenatis. Mauris porttitor, nibh at sagittis tristique, enim magna pretium augue, eget consectetur sem dui non urna
      </p>
    </div>
  </section>

  <section class ="contact">
    <div class = "first">
      <h1>Get in touch</h1>
      <h2>In order to get in touch use the contact form below:</h2>
      <div>
        <form class="contact-form" action="" method="POST">
          <input type="name" name="userName" placeholder="Name(Required)">
          <input type="email" name="userEmail" placeholder="Email(Required)">
          <input type="subject" name="theme" placeholder="Subject">
          <input type="message" name="userMessage" placeholder="Write your message here...">
          <input type="submit" value="Send">
        </form>
      </div>
    </div>
    
    <div class = "second">
      <p>
        Quisque Hendrerit: purus dapibus, ornare nibh vitae, viverra nibh. Fusce vitae aliquam tellus. Proin sit amet volutpat libero. Nulla sed nunc et tortor luctus faucibus morbi vitae.
      </p>
  </div>



  </section>
</main>



<%= _.template(require('./../includes/footer.html').default)(data) %>