<% var data = {
  title: "Custom Select Box",
  author: "vipersteel"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="container">
  <form class="login-form" action="" method="POST">
    <h1>Login</h1>
    <input type="text" name="userName" placeholder="Username">
    <input type="password" name="userPassword" placeholder="Password">
    <input type="submit" value="Login">
  </form>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>