body, * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #344953;
}

.login-form {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    text-align: center;

    h1{
        color: white;
        background: none;
        text-transform: uppercase;
    }

    input[type = "text"],
    input[type = "password"]{
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid rgb(81, 158, 168);
        padding: 14px 10px;
        width: 200px;
        outline: none;
        color: #ffffff;
        border-radius: 24px;
        transition: .25s;

        &:focus {
            width: 280px;
            border-color: #2ecc71;
        }
    }
    input[type = "submit"]{
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #2ecc71;
        padding: 14px 40px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: .25s;
        cursor: pointer;

        &:hover {
            background: #2ecc71;
        }
    }
}