body, * {
    margin:0;
    padding: 0;
    outline: none;
    box-sizing: border-box; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    height: 63px;
    background-color: #222222;
    position: relative;

    &::after{
        content: "";
        position: absolute; /* Абсолютное позиционирование */
        //left: 20px; bottom: -20px; /* Положение треугольника */
        left: 50%;
        top: 63px;
        margin-left: -64px;
        border: 46px solid transparent; /* Прозрачные границы */
        border-top: 26px solid #222222; /* Добавляем треугольник */
    }
    
    nav {
        text-align: center;
        padding-top: 20px;
        a {
            color: #ffffff;
            text-transform: uppercase;
            font-size: 12px;
            text-decoration: none;
            position: relative;
            margin-right: 27px;

            &:hover{
                color: #2eb398;
            }

            &::after {
                content: "";
                font-size: 30px;
                background-color: #ffffff;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                display: block;
                position: absolute;
                top: 6px;
                right: -17px;
            } 

            &:nth-child(2n) {
                &::after{
                    display: none;
                }
            }
        }

    }
}

main {
    min-height: calc(100vh - 42px);

    .pictures {
        height: 721px;
        background-color: #ffffff;
        display: inline;

        div{
            clip-path: polygon(90px 0px, 0px 51px, 0px 155px, 90px 206px, 180px 155px, 180px 51px);
        }
    }

    .about {
        height: 341px;
        background-color: #2eb398;
        display: flex;
        justify-content: center;
        align-items: center;
        
        div {
           
        }

        img{
            clip-path: polygon(210px 0px, 120px 51px, 120px 155px, 210px 206px, 300px 155px, 300px 51px);
        }

        h1{
            color: #d7fcf5;
            font-size: 30px;
            font-family: Myriad Pro Regular;
        }

        h2{
            color: #20816d;
            font-size: 18px;
            font-family: Myriad Pro Regular;
        }
        
        p{
            color: #d7fcf5;
            font-size: 12px;
            font-family: Myriad Pro Regular;
            line-height: 9px;
        }
    }

    .contact {
        height: 564px;
        background-color: #323232;
        color: #bebebe;
        font-family: Myriad Pro Regular;

        .first{
            padding: 66px 320px 66px 121px;
            position: absolute;

            div{
                width: 580px;
                background-color: #454545;

                form{

                    input [type = "name"],
                    input [type = "email"],
                    input [type = "subject"]{
                        height: 38px;
                        background: none;
                    }
                }
            }
        }

        .second{
            padding: 134px 120px 134px 719px;
            position: absolute;
        }

        h1{
            font-size: 30px;
        }

        h2{
            font-size: 18px;
        }

        p{
            font-size: 12px;
        }
    }
}

footer {
    background-color: #222222;
    height: 42px;
    color: #454545;
    padding: 12px 39px 15px 39px;
    font-size: 12px;
}
